<div class="row">
  <div class="col-md-">
    <img src="assets/book_cover.png" alt="" height="297" width="209" />
  </div>

  <div class="px-3 col-6 bookRow">
    <div>
      <h4 class="card-title pl-3 pt-3">{{ inputBook.title }}</h4>
      <p class="card-text pl-3">{{ inputBook.description | limitTo: 140 }}</p>

      <div class="btn-group pl-3" role="group" aria-label="Basic example">
        <button
          (click)="onSelectBorrow()"
          *ngIf="inputBook.is_borrowed === false && user.userRole == 'admin'"
          class="btn btn-primary borrowButton mr-3"
        >
          Borrow
        </button>
        <button
          (click)="onSelect()"
          class="btn btn-primary previewButton"
          [ngClass]="{ borrowButton: inputBook.is_borrowed }"
        >
          Preview
        </button>
        <div *ngIf="inputBook.is_borrowed === true" class="viewReturn">
          <p class="return">Return due date</p>
          <p class="returnDate">{{ dueDate }}</p>
        </div>
      </div>
    </div>

    <div class="pb-3">
      <hr />

      <div class="row pl-4">
        <div class="cardFooter col-md- pl-2 pr-2">
          <p>
            <i class="fa fa-thumbs-o-up fa-0.5x pr-1"></i>10 recommendations
          </p>
        </div>

        <div class="cardFooter col-md-">
          <p>
            <i class="fa fa-bookmark-o fa-0.5x pr-1"></i
            >{{ inputBook.number_of_pages }} pages
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
