<div class="card flex-row flex-wrap">

  <div class="col-md-">
    <img src="assets/book_cover.png" alt="" height="297" width="209">
  </div>

  <div class="card-block px-3 col-lg-7">
    <h4 class="card-title px-2">{{inputBook.title}}</h4>
    <p class="card-text">{{inputBook.description}}</p>

    <div class="btn-group px-2" role="group" aria-label="Basic example">
      <button *ngIf="inputBook.is_borrowed == false" class="btn btn-primary borrowButton mr-3">Borrow</button>
      <button [routerLink]="'/book-details/:id'" class="btn btn-primary previewButton" [ngClass]="{'borrowButton':inputBook.is_borrowed}">Preview</button>
      <div *ngIf="inputBook.is_borrowed == true" class="viewReturn">
        <p class="return">Return due date</p>
        <p class="returnDate">April 20, 2019</p>
      </div>
    </div>

    <hr>

    <div class="row pl-4">
      <div class="cardFooter col-md- pr-2">
        <p><i class="fa fa-thumbs-o-up fa-0.5x pr-1"></i>10 recommendations</p>
      </div>

      <div class="cardFooter col-md-">
        <p><i class="fa fa-bookmark-o fa-0.5x pr-1"></i>250 pages</p>
      </div>
    </div>
  </div>
</div>

