<app-header-bar></app-header-bar>
<body>
    <div class="header">
      <div class="container">
        <h1>Search and discover books you love.</h1>

        <div class="input-icon-wrap searchBox">
            <span class="input-icon"><span class="fa fa-search"></span></span>
            <input type="text" class="input-with-icon" id="form-name" placeholder="Search by Title, Author or IBAN">
          </div>  	
          
      </div>
      </div>

<div class="container bookContainer">
    <div class="row bookRow">
        <div class="col-sm">
          <div class="card flex-row flex-wrap">
              <div class="col-md-">
                  <img src="assets/book_cover.png" alt="" height="297" width="209">
              </div>
              <div class="card-block px-3 col-lg-7">
                  <h4 class="card-title px-2">The Indispensable UX Designer</h4>
                  <p class="card-text">The Gunslinger is a fantasy novel by American author Stephen King, the first volume in the Dark Tower series...</p>
                  
                  <div class="btn-group px-2" role="group" aria-label="Basic example">
                    <button id="borrowButton" class="btn btn-primary">Borrow</button>
                    <button id="previewButton" class="btn btn-primary ml-3">Preview</button> 
                  </div>
                  <hr>

                  <div class="row px-4">
                      <div class="cardFooter col-md-">
                          <p><i class="fa fa-thumbs-o-up fa-0.5x pr-2"></i>10 recommendations</p>
                      </div>
      
                      <div class="cardFooter col-md-">
                          <p><i class="fa fa-bookmark-o fa-0.5x pr-2 pl-4"></i>250 pages</p>
                      </div>
                    </div>

              </div>
          </div>
        </div>
        <div class="col-sm">
            <div class="card flex-row flex-wrap">
                <div class="col-md-">
                    <img src="assets/book_cover.png" alt="" height="297" width="209">
                </div>
                <div class="card-block px-3 col-lg-7">
                    <h4 class="card-title px-2">The Indispensable UX Designer</h4>
                    <p class="card-text">The Gunslinger is a fantasy novel by American author Stephen King, the first volume in the Dark Tower series...</p>
                    
                    <div class="btn-group px-2" role="group" aria-label="Basic example">
                      <button id="borrowButton" class="btn btn-primary">Borrow</button>
                      <button id="previewButton" class="btn btn-primary ml-3">Preview</button> 
                    </div>
                    <hr>

                    <div class="row px-4">
                        <div class="cardFooter col-md-">
                            <p><i class="fa fa-thumbs-o-up fa-0.5x pr-2"></i>10 recommendations</p>
                        </div>
        
                        <div class="cardFooter col-md-">
                            <p><i class="fa fa-bookmark-o fa-0.5x pr-2 pl-4"></i>250 pages</p>
                        </div>
                      </div>
                    
                </div>
            </div>
          </div>
  </div>

  <div class="row bookRow">
      <div class="col-sm">
        <div class="card flex-row flex-wrap">
            <div class="col-md-">
                <img src="assets/book_cover.png" alt="" height="297" width="209">
            </div>
            <div class="card-block px-3 col-lg-7">
                <h4 class="card-title px-2">The Indispensable UX Designer</h4>
                <p class="card-text">The Gunslinger is a fantasy novel by American author Stephen King, the first volume in the Dark Tower series...</p>
                
                <div class="btn-group px-2" role="group" aria-label="Basic example">
                  <button id="borrowButton" class="btn btn-primary">Borrow</button>
                  <button id="previewButton" class="btn btn-primary ml-3">Preview</button> 
                </div>
                <hr>

                <div class="row px-4">
                    <div class="cardFooter col-md-">
                        <p><i class="fa fa-thumbs-o-up fa-0.5x pr-2"></i>10 recommendations</p>
                    </div>
    
                    <div class="cardFooter col-md-">
                        <p><i class="fa fa-bookmark-o fa-0.5x pr-2 pl-4"></i>250 pages</p>
                    </div>
                  </div>

            </div>
        </div>
      </div>
      <div class="col-sm">
          <div class="card flex-row flex-wrap">
              <div class="col-md-">
                  <img src="assets/book_cover.png" alt="" height="297" width="209">
              </div>
              <div class="card-block px-3 col-lg-7">
                  <h4 class="card-title px-2">The Indispensable UX Designer</h4>
                  <p class="card-text">The Gunslinger is a fantasy novel by American author Stephen King, the first volume in the Dark Tower series...</p>
                  
                  <div class="btn-group px-2" role="group" aria-label="Basic example">
                    <button id="borrowButton" class="btn btn-primary">Preview</button>
                    <div class="row"><p class="return">Return due date</p>
                    <p class="returnDate">April 20, 2019</p></div> 
                  </div>
                  
                  <hr>

                  <div class="row px-4">
                      <div class="cardFooter col-md-">
                          <p><i class="fa fa-thumbs-o-up fa-0.5x pr-2"></i>10 recommendations</p>
                      </div>
      
                      <div class="cardFooter col-md-">
                          <p><i class="fa fa-bookmark-o fa-0.5x pr-2 pl-4"></i>250 pages</p>
                      </div>
                    </div>

              </div>
          </div>
        </div>
</div>

<div class="row bookRow">
    <div class="col-sm">
      <div class="card flex-row flex-wrap">
          <div class="col-md-">
              <img src="assets/book_cover.png" alt="" height="297" width="209">
          </div>
          <div class="card-block px-3 col-lg-7">
              <h4 class="card-title px-2">The Indispensable UX Designer</h4>
              <p class="card-text">The Gunslinger is a fantasy novel by American author Stephen King, the first volume in the Dark Tower series...</p>
              
              <div class="btn-group px-2" role="group" aria-label="Basic example">
                  <button id="borrowButton" class="btn btn-primary">Preview</button>
                  <div class="row"><p class="return">Return due date</p>
                  <p class="returnDate">April 20, 2019</p></div> 
                </div>
              
              <hr>
              
              <div class="row px-4">
                  <div class="cardFooter col-md-">
                      <p><i class="fa fa-thumbs-o-up fa-0.5x pr-2"></i>10 recommendations</p>
                  </div>
  
                  <div class="cardFooter col-md-">
                      <p><i class="fa fa-bookmark-o fa-0.5x pr-2 pl-4"></i>250 pages</p>
                  </div>
                </div>

          </div>
      </div>
    </div>
    <div class="col-sm">
        <div class="card flex-row flex-wrap">
            <div class="col-md-">
                <img src="assets/book_cover.png" alt="" height="297" width="209">
            </div>
            <div class="card-block px-3 col-lg-7">
                <h4 class="card-title px-2">The Indispensable UX Designer</h4>
                <p class="card-text">The Gunslinger is a fantasy novel by American author Stephen King, the first volume in the Dark Tower series...</p>
                
                <div class="btn-group px-2" role="group" aria-label="Basic example">
                  <button id="borrowButton" class="btn btn-primary">Borrow</button>
                  <button id="previewButton" class="btn btn-primary ml-3">Preview</button> 
                </div>
                
                <hr>

                <div class="row px-4">
                    <div class="cardFooter col-md-">
                        <p><i class="fa fa-thumbs-o-up fa-0.5x pr-2"></i>10 recommendations</p>
                    </div>
    
                    <div class="cardFooter col-md-">
                        <p><i class="fa fa-bookmark-o fa-0.5x pr-2 pl-4"></i>250 pages</p>
                    </div>
                  </div>

            </div>
        </div>
      </div>
</div>

<div class="row bookRow">
    <div class="col-sm">
      <div class="card flex-row flex-wrap">
          <div class="col-md-">
              <img src="assets/book_cover.png" alt="" height="297" width="209">
          </div>
          <div class="card-block px-3 col-lg-7">
              <h4 class="card-title px-2">The Indispensable UX Designer</h4>
              <p class="card-text">The Gunslinger is a fantasy novel by American author Stephen King, the first volume in the Dark Tower series...</p>
              
              <div class="btn-group px-2" role="group" aria-label="Basic example">
                  <button id="borrowButton" class="btn btn-primary">Preview</button>
                  <div class="row"><p class="return">Return due date</p>
                  <p class="returnDate">April 20, 2019</p></div> 
                </div>
              
              <hr>

              <div class="row px-4">
                <div class="cardFooter col-md-">
                    <p><i class="fa fa-thumbs-o-up fa-0.5x pr-2"></i>10 recommendations</p>
                </div>

                <div class="cardFooter col-md-">
                    <p><i class="fa fa-bookmark-o fa-0.5x pr-2 pl-4"></i>250 pages</p>
                </div>
              </div>

          </div>
      </div>
    </div>
    <div class="col-sm">
        <div class="card flex-row flex-wrap">
            <div class="col-md-">
                <img src="assets/book_cover.png" alt="" height="297" width="209">
            </div>
            <div class="card-block px-3 col-lg-7">
                <h4 class="card-title px-2">The Indispensable UX Designer</h4>
                <p class="card-text">The Gunslinger is a fantasy novel by American author Stephen King, the first volume in the Dark Tower series...</p>
                
                <div class="btn-group px-2" role="group" aria-label="Basic example">
                  <button id="borrowButton" class="btn btn-primary">Borrow</button>
                  <button id="previewButton" class="btn btn-primary ml-3">Preview</button>
                </div>
                
                <hr>

                <div class="row px-4">
                    <div class="cardFooter col-md-">
                        <p><i class="fa fa-thumbs-o-up fa-0.5x pr-2"></i>10 recommendations</p>
                    </div>
    
                    <div class="cardFooter col-md-">
                        <p><i class="fa fa-bookmark-o fa-0.5x pr-2 pl-4"></i>250 pages</p>
                    </div>
                  </div>

            </div>
        </div>
      </div>
</div>
  <div class="loadButton">
    <button id="loadMore" class="btn btn-primary">Load More</button>
  </div>
</div>
</body>

<footer>

  <div class="col-md-7 logo">
    <h3>bookcase<span class="dot">.</span></h3>
  </div>

  <div>
    <small>Terms & Conditions | Privacy Policy</small>
  </div>

</footer>



