@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import url("https://fonts.googleapis.com/css?family=Helvetica:500,700");

body{
  background-color: #F5F7FA;
}

.header{
    position: relative;
    background: #19216C;
    height: 437px;
  }

footer {
  background-color: #FFFFFF;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo h3{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;

  color: #19216C;
  }

.dot{
  color: #1CD4D4;
}

  .header h1{
    position: absolute;
    width: 667px;
    height: 132px;
    left: 164px;
    top: 125px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 65px;
    
    color: #FFFFFF;
  }

  .searchBox{
    position: absolute;
    width: 540px;
    height: 56px;
    left: 164px;
    top: 293px;

    padding-left: 35px;

    background: #FFFFFF;
    border-radius: 5px;
  }

  #searchImg{
    position: absolute; 
    width: 15px;
    height: 15px;
    left: 175px;
    top: 315px;
    color: #9AA5B1;
}

  ::placeholder{
    font-family: Helvetica;
    font-size: 12px;
    line-height: 12px;
    
    color: #9AA5B1;
  }

.card-title{
    position: absolute;
    left: 43.62%;
    right: 6.1%;
    top: 10.77%;
    bottom: 70.03%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;

    color: #19216C;
}

.card-text{
    position: absolute;
    left: 43.62%;
    right: 4.99%;
    top: 35.69%;
    bottom: 45.12%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

    color: #9AA5B1;
}

.book_borrow{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    background: #1CD4D4;
    box-shadow: 0px 3.13043px 7.04348px rgba(28, 212, 212, 0.2);
    border-radius: 3.91304px;
}

#borrowButton{
    position: absolute;
    left: 236px;
    right: 0px;
    top: 188px;
    bottom: 73px;

    height: 36px;
    width: 131px;

    background: #1CD4D4;
    box-shadow: 0px 3.13043px 7.04348px rgba(28, 212, 212, 0.2);
    border-color: #1CD4D4;
    border-radius: 3.91304px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10.9565px;
    line-height: 13px;
    text-align: center;
}

#previewButton{
    position: absolute;
    left: 376px;
    right: 0px;
    top: 188px;
    bottom: 73px;

    height: 36px;
    width: 131px;

    background: #FFFFFF;
    box-shadow: 0px 3.13043px 7.04348px rgba(28, 212, 212, 0.2);
    border-color: #1CD4D4;
    border-radius: 3.91304px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10.9565px;
    line-height: 13px;
    text-align: center;

    color: #1CD4D4;
}

.container{
  margin-top: 63px;
}

.loadButton{
  display: flex;
  justify-content: center;
}

#loadMore{
    width: 185px;
    height: 46px;
    margin-bottom: 65px;
    margin-top: 36px;

    border: 1px solid #9AA5B1;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFFFFF;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #9AA5B1;
}

.bookRow{
  margin-top: 27px;
}

.sIcon{
    position: absolute;
    width: 9px;
    height: 9px;
    left: 175px;
    top: 275px;

    color: #9AA5B1;
}

.card-block{
  border-bottom: 2px solid black;
}









  

