<app-header-bar></app-header-bar>

<div class="container">

  <div class="main_info_container">
      <small>Home > Books > BookName</small>

      <div class="row info_row">
        <div class="col-4">
            <img src="assets/book_cover.png" alt="" height="490" width="100%">
        </div>

        <div class="col-6 description_col">
          <h4 class="card-title px-2">{{books[bookId].title}}</h4>
          <p class="card-author">{{books[bookId].author}} • {{books[bookId].category}}</p>
          <p class="card-text">{{books[bookId].description}}</p>

            <div class="btn-group px-2" role="group" aria-label="Basic example">
              <button class="btn btn-primary borrowButton mr-3">Borrow</button>
              <button class="btn btn-primary recommendButton">Recommend</button>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="description_container">
  <div class="container">
    <div class="menu">
      <ul>
          <li><a href="">Description</a></li>
          <li><a href="">Recommendation (21)</a></li>
      </ul>
    </div>
    <hr>

    <div class="book-description col-10">
      <p>{{books[bookId].description}}</p>
      <p id="book-details" class="pt-4">Total Pages: 520</p>
      <p id="book-details">ISBN: {{books[bookId].isbn}}</p>
    </div>

    <div class="tags">
        <ul id="tag-list">
          <li><h5><i class="fa fa-circle pr-2" aria-hidden="true"></i>BUSINESS</h5></li>
          <li><h5><i class="fa fa-circle pr-2" aria-hidden="true"></i>INSPIRATION</h5></li>
          <li><h5><i class="fa fa-circle pr-2" aria-hidden="true"></i>MONEY</h5></li>
        </ul>
      </div>
  </div>
</div>

<app-footer-bar></app-footer-bar>
