<app-header-bar></app-header-bar>
<div class="container">
  <div class="row header-row align-items-center">
    <div class="col-sm-4">
      <div class="col-md-12">
        <img src="assets/book_cover.png" alt="" height="490" width="350">
      </div>
    </div>
    <div class="col-sm-7 ml-auto">
      <div class="col-md-12">
        <h1 class="bookTitle">The Indispensable <br> UX Designer</h1>
        <p class="bookWriter">James Arthur &bull; Design</p>
        <p class="boolSmallDescription">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae mollitia eos consequatur veritatis neque totam eveniet fuga! Cupiditate quo asperiores, explicabo, expedita, voluptates dolorum atque ad nihil laborum adipisci magnam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est assumenda blanditiis reiciendis unde vero nesciunt iste libero! Eos, aliquam minus.
        </p>
        <div class="buttons">
          <button type="submit" class="btn borrow">
            <div class="borrowButtonText">Borrow</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bookFullDescription">
  <div class="container">
    <div class="col-md-12">
        <button class="btn descriptionBtn">Description</button>
        <hr>
        <p class="bookDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam debitis, corrupti laudantium tenetur quia nostrum tempore ea necessitatibus quae pariatur, commodi eveniet velit enim maxime numquam. Dolorum explicabo consequuntur quas?Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad voluptas accusamus ducimus, iste magnam nulla suscipit saepe eum provident?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, cum. Tenetur unde commodi modi repellat iste sapiente rerum, sed amet?</p>
        <p class="bookDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam debitis, corrupti laudantium tenetur quia nostrum tempore ea necessitatibus quae pariatur, commodi eveniet velit enim maxime numquam. Dolorum explicabo consequuntur quas?Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad voluptas accusamus ducimus, iste magnam nulla suscipit saepe eum provident?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, cum. Tenetur unde commodi modi repellat iste sapiente rerum, sed amet?</p>
        <p class="bookDetails">Total Pages: 520</p>
        <p class="bookDetails">ISBN: 929-123542312</p>
        <div class="bookCategories">
          <div class="bookCategory">
            <p>&bull; BUSINESS</p>
          </div>
          <div class="bookCategory">
            <p>&bull; INSPIRATION</p>
          </div>
          <div class="bookCategory">
            <p>&bull; FANTASY</p>
          </div>
        </div>
    </div>
  </div>
</div>

<app-footer-bar></app-footer-bar>
