.login-header-title{
    /* position: absolute;
    width: 290px;
    height: 44px;
    left: 165px;
    top: 41px; */ 
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    
    color: #19216C;
    
    }
    
    .login-blue-point{
        /* position: absolute;
        width: 290px;
        height: 44px;
        left: 193px;
        top: 0px; */
    
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
    
        color: skyblue;
    }
    
    .login-welcome{
        /* Welcome to Bookcase. */
    
    
    padding-top: 80px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 49px;
    line-height: 78px;
    
    color: #19216C;
    
    /* primary-blue */
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .book-lover{
        /* book_lover */
    
    position: absolute;
    width: 808.63px;
    height: 597.63px;
    left: 610px;
    top: 292px;
    
    }
    
    .vector3{
        /* Vector */
    
    position: absolute;
    left: 0%;
    right: 8.56%;
    top: 0%;
    bottom: 0%;
    
    background: rgba(25, 33, 108, 0.69);
    opacity: 0.18;
    }
    
    
    .checkbox{
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;/* or 167% */
        display: flex;
        align-items: center;
        
        color: #9AA5B1;
    
        padding-left: 5px;
    
    }
    
    .login {
        padding-left: 165px;
        background-color: rgb(245,247,250)
    }
    
    .Forgot.password{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;/* or 167% */
        display: flex;
        align-items: center;
        text-align: right;
        
        color: #9AA5B1;
    }
    
    .privacy{
    
    
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;/* or 167% */
    
        padding-top: 81px;
        
        color: #9AA5B1;
    
    }
    
    .copyright{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;/* or 167% */
        padding-left: 300px;
        color: #9AA5B1;
        padding-top: 81px;
    }
    
    .send-button{
     
        font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    display: flex;
    align-items: center;
    position: relative;
      left: 60px;
      top: -17px;
    color: #FFFFFF;
    
    }
    
    .send-border{
    
    /* secondary-turquoise */
    background: #1CD4D4;
    box-shadow: 0px 4px 9px rgba(28, 212, 212, 0.2);
    border-radius: 5px;
    width: 168px;
    height: 46px;
    padding-top: 35px;
    }
    .abc{
    
        padding-top: 74px;
    }
    
    
    
    .back-button{
    
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
      left: 60px;
      top: 15px;
        
        color: #19216C;
    
    
    
    }
    .back-border{
    
    
    
    
        background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(218, 220, 232, 0.3);
    border-radius: 5px;
    width: 168px;
    height: 46px;
    }
    
    .login-description{
        /* We make it easy for everyone to borrow and read books inside the company. */
    /* 
    position: absolute;
    width: 445px;
    height: 58px;
    padding-left: 165px;
    top: 481px; */
    
    padding-top: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    
    
    color: #7B8794;
    
    }
    
    .login-text-input-filling{
        /* text-input_filling */
    
    padding-top: 60px;
    
    
    
    }
    
    
    .login-rectangle{
        /* Rectangle */
        background: rgb(213, 233, 255);
        /* padding-top: 60px; */
        width: 350px;
        line-height: 70px;
    
    }
    
    .vector{
    
     /* padding-left: 0%;
    padding-right: 0%;
    padding-top: 99.29%;
    padding-bottom: 0.71%;  */
    /* width: 2px; */
    
    
    
    border-left: 4px solid #1CD4D4;
    }
    
    .vector2{
        /* Vector 2 */
    
    
    
      
    
    
    /* secondary-turquoise */
    border-bottom: 1px solid #EAEBF0;
    /* border: 2px solid #1CD4D4; */
    }
    
    .padd-txt-left{
        padding-left: 22px;
    }
    
    .input-title{
    
    /* padding-left: 6.57%;
    right: 6.86%;
    top: 24.11%;
    bottom: 56.03%; */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
    
    
    
    
    color: #7B8794; 
    }
    
    .input-text{
        /* Book Description */
    
    /* 
    padding-left: 6.57%;
    right: 6.86%;
    top: 55.32%;
    bottom: 14.68%; */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-left: 40px;
    
    
    color: #1CD4D4;
    
    /* secondary-turquoise */
    }
    
    .login-text-input-normal{
    /* text-input_normal */
    
    padding-top: 10px;
    
    }
    
    .book-lover{
        /* book_lover */
    
    position: absolute;
    width: 808.63px;
    height: 597.63px;
    padding-left: 610px;
    top: 292px;
    
    }
    
    .vector3{
        /* Vector */
    
    
    padding-left: 0%;
    right: 8.56%;
    top: 0%;
    bottom: 0%;
    
    background: rgb(245, 247, 250);
    opacity: 0.18;
    }
    .login-button-text{
        /* Log in */
    
    
    height: 18px;
    padding-left: 24px;
    right: 24px;
    top: 14px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    }

    .btn-padding{
        padding-left: 0px;
    }