<div class="card flex-row flex-wrap mb-4">

    <div class="col-md-">
      <img src="assets/book_cover.png" alt="" height="142" width="97">
    </div>

    <div class="card-block px-4 col-8">
      <h4 class="card-title px-2 pt-2">{{inputBook.title}}</h4>
      <small class="pl-2">{{inputBook.author}} • {{inputBook.category}}</small>
      <p class="card-text mt-4">{{inputBook.description}}</p>
    </div>

    <div class="col-md-4 py-5">
      <button [routerLink]="'/book-details/:id'" class="btn btnView ">View book</button>
    </div>

  </div>
