<app-header-bar></app-header-bar>
<div class="container">

  <!-- titlu -->
  <div class="header">
    <h1 class="title_form">Edit Book</h1>
  </div>


  <!-- <form #value="ngForm" (ngSubmit)="submitEdit()"> -->
  <form #value="ngForm">
    <div class="form-row">
      <div class="form-group col-6">
        <mat-form-field class="exemple-container test">
          <input [(ngModel)]="title" matInput placeholder="Title" name="title">
        </mat-form-field>
      </div>
      <div class="form-group col-6">
        <mat-form-field class="exemple-container test">
          <input [(ngModel)]="author" matInput placeholder="Author" name="author">
        </mat-form-field>
      </div>
    </div>
    <!-- al doilea rand -->
    <div class="form-row">
      <div class="form-group col-6">
        <mat-form-field class="exemple-container test">
          <input [(ngModel)]="isbn" matInput placeholder="ISBN" name="isbn">
        </mat-form-field>
      </div>
      <div class="form-group col-6">
        <mat-form-field class="exemple-container test">
          <input type="number" [(ngModel)]="number_of_pages" matInput placeholder="Number of pages"
            name="number_of_pages">
        </mat-form-field>
      </div>
    </div>
    <!-- al treilea rand -->
    <div id="mainselection">
      <div class="form-row">
        <div class="form-group col-6">
          <mat-form-field class="exemple-container test">
            <mat-select [(ngModel)]="category" placeholder="Category" name="category">
              <mat-option value="business">Business</mat-option>
              <mat-option value="finance">Finance</mat-option>
              <mat-option value="adventure">Adventure</mat-option>
              <mat-option value="comics">Comics</mat-option>
              <mat-option value="nuvela">Nuvela</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="form-group col-6">
          <mat-form-field class="exemple-container test">
            <mat-select [(ngModel)]="is_borrowed" placeholder="Status" name="is_borrowed" disabled>
              <mat-option value="false">Available</mat-option>
              <mat-option value="true">Borrowed</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- al patrulea rand -->

    <!-- optional -->
    <!-- <div class="form-row">
      <div class="form-group col-6">
        <mat-form-field class="exemple-container test">
          <mat-select [(ngModel)]="rrowed" placeholder="Current borrower" name="is_borrowed">
            <mat-option value="option">Current borrower</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-row col-6">
        <div class="form-group col-6">
          <mat-form-field class="mat1">
            <input matInput [matDatepicker]="piker1" placeholder="Lend date">
            <mat-datepicker-toggle matSuffix [for]="piker1"></mat-datepicker-toggle>
            <mat-datepicker #piker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group col-6">
          <mat-form-field class="mat1">
            <input matInput [matDatepicker]="piker2" placeholder="Due date">
            <mat-datepicker-toggle matSuffix [for]="piker2"></mat-datepicker-toggle>
            <mat-datepicker #piker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div> -->



    <!-- al 4+1 rand -->
    <div class="form-group description">
      <mat-form-field class="test">
        <input [(ngModel)]="description" matInput id="inputDescription" placeholder="Desription" name="description">
      </mat-form-field>
    </div>


    <!-- butoanele radio -->


    <div class="form-row radio-buttons" class="form-group col-6" class="distance-check" class="container_css">

      <div class="radio-item">
        <input type="radio" [(ngModel)]="virtual_book" id="ritema" name="virtual_book" value="VirtualBook"
          (click)="virtual_book='VirtualBook'">
        <label for="ritema">Virtual book</label>
      </div>

      <div class="radio-item">
        <input type="radio" [(ngModel)]="virtual_book" id="ritemb" name="virtual_book" value="PhisicalBook"
          (click)="virtual_book='PhisicalBook'">
        <label for="ritemb">Physical book</label>
      </div>
    </div>
    <!-- <mat-radio-group class="radio-item">
        <mat-radio-button id="ritema" name="bookType" value="VirtualBook" (click)="bookType='VirtualBook'" ngModel>
          VirtualBook</mat-radio-button>
        <mat-radio-button id="ritemb" name="bookType" value="PhisicalBook" (click)="bookType='PhisicalBook'"
          [checked]=true ngModel> PhisicalBook</mat-radio-button>
      </mat-radio-group> -->

    <!-- </div> -->
    <!-- <input type="file" id (change)="onFileUpload($event)"> -->

    <p *ngIf="virtual_book ==='VirtualBook'">
      <input class="inputFile" type="file" name="pic" accept="pdf/*">

    </p>
    <br>
    <p *ngIf="is_succeful === true" class="alert alert-success" role="alert">
      Book successfully updated
    </p>



    <!-- subsol -->
    <div class="footer">

      <!-- buton submit and cancel -->
      <div class="buttons">
        <button type="cancel" class="btn cancel" (click)="redirect()">
          <div class="buttonsCancel">Cancel</div>
        </button>
        <button type="submit" class="btn submit" (click)="submitEdit()">
          <div class="buttonsSubmit">Submit</div>
        </button>

      </div>

    </div>
  </form>
  <!-- <pre>{{ editBookForm.value | json }}</pre> -->