<div class="container">
  <!-- <div class="w-100"> -->
    <div class="Buton">
      <div class="Add-Book">Add Book</div>
    </div>
  <!-- </div> -->

  <div class="Books">
    <div class="Burrowed-Books">Borrowed Books</div>
  </div>
  <div class="w-100>"></div>

  <div class="row regular-row">
    <div class="col "> </div>
    <div class="col">Title</div>
    <div class="col">Author</div>
    <div class="col">Start Date</div>
    <div class="col">Due Date</div>
    <div class="col">Borrower</div>
  </div>

  <div class="row regular-row-1" *ngFor="let book of borrowedBooks">
    <div class="col" style="cursor: pointer" (click)="goToDetails(book.key)"><img src="assets/bookCover1.png" width="52px" height="66px"></div>
    <div class="col alignText">{{book.title}}</div>
    <div class="col alignText">{{book.author}}</div>
    <div class="col alignText">{{book.initialDate}}</div>
    <div class="col alignText">{{book.dueDate}}</div>
    <div class="col alignText">{{book.userFullName}}</div>
  </div>

  <div class="Overdue">Overdue</div>
  <div class="w-100>"></div>
  <div class="row regular-row">
    <div class="col"> </div>
    <div class="col">Title</div>
    <div class="col">Author</div>
    <div class="col">Start Date</div>
    <div class="col">Due Date</div>
    <div class="col">Borrower</div>
  </div>

  <div class="row regular-row-1" *ngFor="let book of overdueBooks">
    <div class="col" style="cursor: pointer" (click)="goToDetails(book.key)"><img src="assets/bookCover1.png" width="52px" height="66px"></div>
    <div class="col alignText">{{book.title}}</div>
    <div class="col alignText">{{book.author}}</div>
    <div class="col alignText">{{book.initialDate}}</div>
    <div class="col alignText">{{book.dueDate}}</div>
    <div class="col alignText">{{book.userFullName}}</div>
  </div>
</div>