
<html>
  
  <body>

<div class="container">
  <div class="w-100">
      <div class="Buton"> 
          <div class="Add-Book">Add Book</div>
        </div>
  </div>
  
<div class="Books">
  <div class="Barrowed-Books">Borrowed Books</div>
</div>
  <div class="w-100>"></div>
  








    <!-- <div class="row-header-row">
      <div class="col">col</div>
      <div class="col">col</div>      
      <div class="col">col</div>
      <div class="col">col</div>
    </div> -->



    <div class="row regular-row">
       
       
      <div class="col">  </div>
      <div class="col">Title</div>      
      <div class="col">Author</div>
      <div class="col">Start Date</div>
      <div class="col">Due Date</div>
      <div class="col">Status</div>
      
    
  </div>
    <div class="row regular-row-1">
       
       
        <div class="col"><img src="assets/book.png"></div>
        <div class="col">X1</div>      
        <div class="col">X2</div>
        <div class="col">X3</div>
        <div class="col">X4</div>
        <div class="col">X5</div>
        
        
      </div>
      <div class="Overdue">Overdue</div>
      <div class="w-100>"></div>
      <div class="row regular-row">
       
       
          <div class="col">  </div>
          <div class="col">Title</div>      
          <div class="col">Author</div>
          <div class="col">Start Date</div>
          <div class="col">Due Date</div>
          <div class="col">Status</div>
          
          
        </div>
        <div class="row regular-row">
       
       
          <div class="col"> <img src="assets/dot.PNG"> </div>
          <div class="col">X</div>      
          <div class="col">X</div>
          <div class="col">X</div>
          <div class="col">X</div>
          <div class="col">X</div>
          </div>

    </div>

    <div class="Footer">
      <div class="h1">  <img src="assets/bookdown.png">
      <p>Terms & Conditions ! Privacy Policy</p></div>
    </div>

  

</body>
</html>
   