<div class="container login">
  <div class="col">
    <div class="row login-header-title">
      Book a book
      <div class="login-blue-point">
        .
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col success-padd" *ngIf="succValue">

      <div class="row alert alert-success" role="alert" *ngIf="succValue">
        You succesfully signed up! :D
      </div>
    </div>
    <div class="col" *ngIf="!succValue">
      <div class="row login-welcome">
        Let's create a new account.
      </div>
      <div class="row login-description">
        We make it easy for everyone to borrow and read books inside the company.
      </div>
      <div class="row">
        <div class="login-text-input-filling">
          <div class="login-rectangle vector vector2">
            <div class="padd-txt-left">
              <div class="input-title">Full Name</div>
              <input class="input-text" type="fullname" (keyup)="onKeyFullName($event)">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="login-text-input-email">
          <div class="login-rectangle vector vector2">
            <div class="padd-txt-left">
              <div class="input-title">Email Adress</div>
              <input class="input-text" type="email" (keyup)="onKeyEmail($event)">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="login-text-input-normal">
          <div class="login-rectangle vector vector2">
            <div class="padd-txt-left">
              <div class="input-title">Password</div>
              <input class="input-text" type="password" (keyup)="onKeyPassword($event)">
            </div>
          </div>
        </div>
      </div>
      <div class="row checkbox">
        <div class="col"> </div>
        <div class="col">
          <div class="Forgot-password">
            Have an account? <a href="login">Login!</a>
          </div>
        </div>
      </div>
      <div class="row alert alert-danger" role="alert" *ngIf="alertError">
        {{errMessage}} <a href="login">Login!</a>
      </div>

      <div class="row abc">
        <div class="col btn-padding ">
          <div class="register-border">
            <div class="register-button">
              <a href="login">
                < Back</a> </div> </div> </div> <div class="col">
                  <div class="login-border">
                    <button class="login-button" (click)="createUserWithEmailAndPassword()">
                      Sign Up
                    </button>
                  </div>
            </div>
          </div>
        </div>
        <div class="col">
          <img src="assets/picture.PNG">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="privacy">
            By signing up, you agree to Book-A-Book's <b> Terms of Conditions</b> and <b> Privacy Policy</b>
          </div>
        </div>
        <div class="col copyright">
          <p>&copy; 2019 Book a Book<p>
        </div>
      </div>
</div>
