<!-- 

<div class="login-header-title">Book a book<div class="login-blue-point">.</div></div>
<div class="login-welcome">Welcome to Book a book</div>
<div class="login-description">We make it easy for everyone to borrow and read books inside the company.</div>

<div class="login-text-input-filling">
  <div class = "login-rectangle">
    <div class = "vector"></div>
    <div class="vector2"></div>
    <div class="input-title">Email Adress</div>
    <input class="input-text" type="email">
  </div>
</div>

<div class="login-text-input-normal">
  <div class = "login-rectangle">
    <div class = "vector"></div>
    <div class="vector2"></div>
    <div class="input-title">Password</div>
    <input class="input-text" type="password">
  </div>
</div>

<div class="book-lover">
<img src="">
</div>

<div class="bookcase-login-button">
  <div class="login-rectangle">
    <div class="login-button-text">Log in</div>
  </div>
</div> -->
<div class="container login">
  <div class="col">
      <div class="row login-header-title">
          Book a book
          <div class = "login-blue-point">
            .
          </div>    
        </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row login-welcome">
          Welcome to Book a book
      </div>
      <div class="row login-description">
          We make it easy for everyone to borrow and read books inside the company.
      </div>
      <div class="row">
          <div class="login-text-input-filling">       
                <div class="login-rectangle vector vector2">
                  <div class="padd-txt-left">
                    <div class="input-title">Email Adress</div>
                    <input class="input-text" type="email">
                  </div>
                </div>
          </div>
      </div>
      <div class="row">
          <div class="login-text-input-normal">       
              <div class="login-rectangle vector vector2">
                <div class="padd-txt-left">
                  <div class="input-title">Password</div>
                  <input class="input-text" type="password">
                </div>
              </div>
        </div>
      </div>
      <div class="row">
        5
      </div>
      <div class="row">
        6
      </div>
      <div class="row">
          7
        </div>
    </div>
    <div class="col">
      <div class="row">
        picture
      </div>
      <div class="row">
        copyright
        </div>
        </div>
  </div>
</div>

