<!-- 

<div class="login-header-title">Book a book<div class="login-blue-point">.</div></div>
<div class="login-welcome">Welcome to Book a book</div>
<div class="login-description">We make it easy for everyone to borrow and read books inside the company.</div>

<div class="login-text-input-filling">
  <div class = "login-rectangle">
    <div class = "vector"></div>
    <div class="vector2"></div>
    <div class="input-title">Email Adress</div>
    <input class="input-text" type="email">
  </div>
</div>

<div class="login-text-input-normal">
  <div class = "login-rectangle">
    <div class = "vector"></div>
    <div class="vector2"></div>
    <div class="input-title">Password</div>
    <input class="input-text" type="password">
  </div>
</div>

<div class="book-lover">
<img src="">
</div>

<div class="checkbox">
  <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
  <label class="custom-control-label" for="defaultUnchecked">Remember me</label>
</div>


 -->


 <div class="container login">
    <div class ="col">
 
       <div class="row login-header-title">
           Book a book
           <div class = "login-blue-point">
             .
             </div>
           </div>
 
 
 
    </div>
   <div class="row">
     <div class="col">
       <div class="row login-welcome">
         Welcome to Book a book
         
       </div>
       <div class="row login-description">
          We make it easy for everyone to borrow and read books inside the company.
      </div>
      <div class="row">
          <div class="login-text-input-filling">       
                <div class="login-rectangle vector vector2">
                  <div class="padd-txt-left">
                    <div class="input-title">Email Adress</div>
                    <input class="input-text" type="email">
                  </div>
                </div>
          </div>
      </div>
      <div class="row">
          <div class="login-text-input-normal">       
              <div class="login-rectangle vector vector2">
                <div class="padd-txt-left">
                  <div class="input-title">Password</div>
                  <input class="input-text" type="password">
                </div>
              </div>
        </div>
      </div>
       <div class="row checkbox">
       <div class ="col">
        
         <div class="checkbox">
           <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
           <label class="custom-control-label" for="defaultUnchecked">Remember me</label>
           </div>
         </div>
         
         <div class ="col">
             
         <div class = "Forgot.password">
         Forgot password
         </div> 
 
       </div>
     </div>
       <div class="row abc">
         
           <!-- <div class ="abc"> -->
             <div class = "col">
               <div class = "login-border">
               
                     
                   <div class ="login-button">
           
                  Log in
           
                  
                   </div>
                   </div>
                 </div>
                   <div class ="col">
 
                       <div class = "register-border">
 
                           <div class = "register-button">
                       
                               Sign Up
                               
                               </div>
                       </div>
                       
                       
                       
                       
                   </div>
         
 
 
 
 
         <!-- </div> -->
       </div>
     </div>
       
     <div class="col">

<img src = "assets/picture.PNG">

     </div>
   </div>
 
   <div class="row">
     <div class = "col">
       <div class ="privacy">
       By signing up, you agree to Book-A-Book's <b> Terms of Conditions</b> and <b> Privacy Policy</b>
     </div>
   </div>
   <div class ="col copyright">
 
       <p>&copy; 2018 Book a Book<p>
 
 
 
   </div>
 </div>
 
 
 </div>
 
 
 
 
 
 