

<div class="login-header-title">Book a book<div class="login-blue-point">.</div></div>
<div class="login-welcome">Welcome to Book a book</div>
<div class="login-description">We make it easy for everyone to borrow and read books inside the company.</div>

<div class="login-text-input-filling">
  <div class = "login-rectangle">
    <div class = "vector"></div>
    <div class="vector2"></div>
    <div class="input-title">Email Adress</div>
    <input class="input-text" type="email">
  </div>
</div>

<div class="login-text-input-normal">
  <div class = "login-rectangle">
    <div class = "vector"></div>
    <div class="vector2"></div>
    <div class="input-title">Password</div>
    <input class="input-text" type="password">
  </div>
</div>

<div class="book-lover">
<img src="">
</div>


