<nav class="navbar">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-8 text-right">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="#"><h3>bookcase<span class="dot">.</span></h3></a>
                    </div>
                    <div class="navMenu col-sm-7 text-left text-inline">
                        <h4>|<span class="pl-5">Browse category</span>
                            <a href="" class="navDrop"><i class="fa fa-arrow-down fa-1x px-2"></i></a></h4>
                        
                    </div>
                    
                </div>  
            </div>
            <h3>Menu</h3>
        </div>  
    </div> 
</nav>


