<app-header-bar></app-header-bar>
<div class="container">

  <!-- titlu -->
  <div class="header">
    <h1 class="title_form">Add Book</h1>
  </div>

  <!-- mijloc -->
  <form [formGroup]="addBookForm" novalidate (ngSubmit)="onSubmit(addBookForm.value)">
      <div class="form-row">
        <div class="form-group col-6">
          <mat-form-field class="exemple-container test">
            <input formControlName="title" matInput placeholder="Title" name="title">
          </mat-form-field>
        </div>

        <div class="form-group col-6">
          <mat-form-field class="exemple-container test">
            <input formControlName="author"  matInput placeholder="Author" name="author">
          </mat-form-field>
        </div>
      </div>
      <!-- al doilea rand -->
      <div class="form-row">
        <div class="form-group col-6">
          <mat-form-field class="exemple-container test">
            <input formControlName="isbn"  matInput placeholder="ISBN" name="isbn">
          </mat-form-field>
        </div>
        <div class="form-group col-6">
          <mat-form-field class="exemple-container test">
            <input formControlName="number_of_pages"   type="number" matInput placeholder="Number of pages"
              name="number_of_pages">
          </mat-form-field>
        </div>
      </div>
    <!-- al treilea rand -->
      <div id="mainselection">
        <div class="form-row">
          <div class="form-group col-6">
            <mat-form-field class="exemple-container test">
              <mat-select formControlName="category"    placeholder="Category" name="category">
                <mat-option value="business">Business</mat-option>
                <mat-option value="finance">Finance</mat-option>
                <mat-option value="adventure">Adventure</mat-option>
                <mat-option value="comics">Comics</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group col-6">
            <mat-form-field class="exemple-container test">
              <mat-select formControlName="is_borrowed" placeholder="Status" name="is_borrowed">
                <mat-option value="false" >Available</mat-option>
                <mat-option value="true" >Borrowed</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    <!-- al patrulea rand-->
      <div class="form-group description">
        <mat-form-field class="test">
          <input formControlName="description" matInput id="inputDescription" placeholder="Desription"
            name="description">
        </mat-form-field>
      </div>


    <!-- butoanele radio -->

    <div class="form-row radio-buttons"   class="form-group col-6" class="distance-check" class="container_css">

      <div class="radio-item">
        <input type="radio" id="ritema" formControlName="virtual_book" value="VirtualBook" name="virtual_book" (click)="virtual_book='VirtualBook'" >
        <label for="ritema">Virtual book</label>
      </div>

      <div class="radio-item">
        <input type="radio" id="ritemb" formControlName="virtual_book" value="PhisicalBook" name="virtual_book" (click)="virtual_book='PhisicalBook'">
        <label for="ritemb">Physical book</label>
      </div>
    </div>

    <p *ngIf="virtual_book ==='VirtualBook'">
      <input class="inputFile" type="file" name="pic" accept="pdf/*">
    </p>
    <!-- a fost aici form -->


    <!-- subsol -->
    <div class="footer">

      <!-- buton submit and cancel -->
      <div class="buttons">
        <button type="cancel" class="btn cancel">
          <div class="buttonsCancel">Cancel</div>
        </button>
        <button type="submit" class="btn submit" [disabled]="addBookForm.invalid">
          <div class="buttonsSubmit">Submit</div>
        </button>
        <!-- <input type="submit" value="Trimite"> -->
      </div>
    </div>

  </form>
  <pre>{{ addBookForm.value | json }}</pre>
