<div style="background-color: #e5e5e5">
  <br>
  <div class="container">
    <div class="row justify-content-center" style="background-color: #ffffff">
      <div class="col-md-6 userCol" style="text-align: center">
        <div class="user-profile">
          <img src="https://image.flaticon.com/icons/svg/61/61205.svg" width="136px" height="136px" alt="">
          <div class="user-name">
            <h1>Vladimir Putin</h1>
            <div class="user-functie">
              <h2>Software Development Engineer III</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row justify-content-left" style="background-color: #ffffff">
      <div class="user-profile">
        <p id="contactInfo">Contact Info</p>
        <!-- <div class="fa fa-envelope-o"><p class="adress">email</p></div> -->
        <p class="adress"> &#9993; Email</p>
        <p class="adress">&#xf041; Adresa</p>
        <p class="adress fa fa-map-marker"> Adresa</p>
      </div>
    </div>
  </div>
  <br>
</div>
