@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import url("https://fonts.googleapis.com/css?family=Helvetica:500,700");



.containter {  
    position:center;
    width: 350px;
    height: 298px;
    left: 165px;
    top: 218px;
    padding-top:110px;
    padding-bottom:14px;
    
    background: #FFFFFF;
    border-radius: 5px;}

    
.casuta1 
{
    width: 350px;
height: 298px;
left: 165px;
top: 218px;
padding-top:110px;
padding-bottom:14px;

background: #FFFFFF;
border-radius: 5px;
}

.petru{
width:350px;
height:298px;
}
.user-profile {
    width: 350px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 40px;
    left:165;
    
}

.user-functie {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #19216C;
}

.userCol {
    display: flex !important;
    justify-content: center !important;
}
.user-functie{
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1CD4D4;
}