<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 userCol" style="text-align: center">
      <div class="user-profile">
          <img src="https://image.flaticon.com/icons/svg/61/61205.svg" width="136px" height="136px" alt="">
          <div class="user-name">
            <h1>Vladimir Putin</h1>
            <div class="user-functie">
              <h2>Software Development Engineer III</h2>
            </div>
          </div>
      </div>
      <div class="user-profile-info">

      </div>
    </div>
  </div>
</div>